body {
  background-color: rgb(219, 216, 216);
}

.product_filter {
  height: 90vh;
  width: 100vw;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 2vw;
  margin-top: 1vh;
  justify-content: center;
  gap: 3vw;
  margin-top: 50px;
}

.product_card {
  background-color: #fff;
  width: 22vw;
  height: 30vh;
  padding: 3vh;
  border-radius: 5px;
  margin-top: 2vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product_card img {
  width: 15vw;
  height: 20vh;
  background-color: #1c1b1b13;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
